{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <h1>Password reset complete</h1>
    <p>Your password has been set.  You may go ahead and log in now.</p>
{% endblock %}
