{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <h1>Enter new password</h1>
    {% if not valid_link %}
        The password reset link was invalid. Please request a new password reset.
    {% else %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">
            {% for field in form %}
                {{ field() }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Change password">
        </form>
    {% endif %}
{% endblock %}
