{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password reset</h1>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form method="POST">
        {% for field in form %}
            {{ field() }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <input type="submit" value="Reset password">
    </form>
{% endblock %}
